<?xml version="0.0" ?>
<robot name="80_20.urdf">
  <link name="baseLink">

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
	<visual>
    <origin rpy="1.5708 0.05 0" xyz="-0.025 0 -0.01"/>
    <geometry>
       <mesh filename="../meshes/flashlight.obj" scale="0.003 0.005 0.005" />
    </geometry>
	  <material name="orange">
      <color rgba="1 0.49 0 1" />
    </material>
  </visual>
</link>
</robot>
